{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">NOM</th>
       <th scope="col">Détail</th>
       <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    
    
  
   {% for produit in produits %}
      
      <tr>
      <th scope="row">{{ produit.id }}</th>
      <td>{{ produit.nom }}</td>
      <td><a href="{{ path('produit_detail',{'id':produit.id})}}">Voir Détail</a></td>
       <td><a href="{{ path('produit_delete',{'id':produit.id})}}">Supprimer
    </tr>
   {% endfor %}
   </tbody>
   </table>
</div>






{% endblock %}

  